body {
    background-color: gray;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 480px;
    aspect-ratio: 1 / 1;
    border: 2px solid #000;
}

#moves {
    background-color: burlywood;
    width: 300px;
}

.container {
    gap: 2rem;
    padding: 2rem;
    position: relative;
    align-items: stretch;
}

.piece {
    cursor: grab;
    user-select: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: auto;
    opacity: 1;
}

.piece:active .dragged{
    cursor: grabbing;
}

.dragged {
    opacity: 0;
}

.square {
    padding: 15%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    justify-items: center;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.square.light {
    background-color: lightgreen;
}

.square.dark {
    background-color: rgb(95, 167, 95);
}